@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    text-align: center;
    font-family: 'Akshar', sans-serif;
    font-style: normal;
}

.container{
    background: #1F2937;
    color: white;
    max-width: 550px;
    height: auto;
    margin: 30 auto;
    border-radius: 30px;
}

.title{
    background: #3A69D2;
    padding: 30px 90px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.title h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.02em;
}

.title p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: -20px;
    color: rgb(223, 223, 223);
}

.tasktotal {
    display: flex;  
    flex-direction: column;
}

.task {
     text-align: left;
     margin-right: auto;
     color: white;
     padding-left: 40px;
}

.totalAmount {
    padding-right: 40px;
    margin-top: -85px;
    color: white;
    text-align: right;
}

.total {
    display: flex;
    margin-left: auto;
    margin-right: 40px;
    margin-top: -50px;
    color: white;
}

.service-btn button{
    background: #D1D4F4;
    border-radius: 7px;
    border: none;
    width: 143.17px;
    height: 45px;
    margin: 30px 10px;
    font-family: 'Akshar', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #4A4E74;
    box-shadow: 0 5px rgb(136, 146, 160);
}

.service-btn button:hover{
    background-color: #c8cbf4;
}

.service-btn button:active {
    background-color: #bcc0f9;
    box-shadow: 0 5px rgb(74, 73, 73);
    transform: translateY(3px);
  }
  


.remove-buttons {
    margin-left: 15px;
    margin-right: 290px;
    background: #D1D4F4;
    border-radius: 4px;
    border: none;
    font-family: 'Akshar', sans-serif;
    font-size: 16px;
    color: rgb(91, 91, 91);
}

.remove-buttons:hover{
    background-color: #c8cbf4;
}

.remove-buttons:active {
    background-color: #bcc0f9;
    box-shadow: 0 5px rgb(74, 73, 73);
    transform: translateY(2px);
}

li{
    list-style: none;
    text-align: left;
    padding-bottom: 20px;
    font-size: 18px;
}

hr{
    width: 471px;
    border: 0.5px solid #C3C6DB;
    margin-top: 10px;
}

#payment-options{
    
    visibility: hidden;
}

.amount {
    text-align: right;
    padding-right: 45px;
    margin-top: -40px;
    color: white;
    font-size: 40px;
}

.send-btn button{
    background: #2656be;
    box-shadow: 0 5px rgb(89, 134, 202);
    border-radius: 7px;
    border: none;
    padding: 9px 17px 9px 15px;
    width: 473px;
    height: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin-bottom: 35px;
}

img{
    padding-right: 10px;
}

.send-btn button:hover{
    background-color: #1253dd;
}

.send-btn button:active{
    background-color: #1253dd;
    box-shadow: 0 5px rgb(40, 75, 204);
    transform: translateY(2px);
}